body{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    /* align-items: center !important; */
    font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-box{
    width: 500px;
    /* height: 100vh; */
    background-color: white;
    /* align-self: center;
    justify-self: center; */
    padding: 50px;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
}

.right-box{
    flex: 1;
    height: 100vh;
    background-color: brown;
    background: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#captchaBackground {
    height: 220px;
    width: 250px;
    background-color: #2d3748;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}    
#captchaHeading {
    color: white;
}    
.captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #42424288;
}    
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}    
#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}    
#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}    
#textBox {
    height: 25px;
}    
.incorrectCaptcha {
    color: #FF0000;
}    
.correctCaptcha {
    color: #7FFF00;
}
    